@font-face{
	font-family: 'MontserratCont';
	src: url(font/Montserrat-LightItalic.ttf);
}
@font-face{
	font-family: 'Montserrat';
	src: url(font/Montserrat-Light.ttf);
}

body img{
	margin-left: 35%;
}
body p{
	font-family: 'Montserrat';
	width: 800px;
	font-weight: 400;
font-size: 33px;
line-height: 169.9%;
	text-align: justify;
	color: black;
margin-left: 30%;
	
}
body h1{
	margin-top: 7%;
	font-family: 'MontserratCont';
	color: red;
	font-size: 46px;
	margin-left: 40%;
}
a{
	text-decoration: none;
	color: red;
	font-size: 40px;
	margin-left: 60%;
	font-family: 'MontserratCont';
}